*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    /* transition: 2s; */
}

/* ----------------------------------------------------------------------------------------------- */

/* NAVBAR */
#navbar{
    
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}
#navbar::before{
    
    background-color: #2F303A;

}
#logo{
    margin: 10px 20px;
    padding-left: 50px;
}
#logo img{
    height: 80px;
    margin: 3px 6px;
}
/* ----------------------------------------------------------------------------------------------- */

/* BODY */
.p{
    display: flex;
}
.p h1{
    font-family: 'Baloo Bhaijaan 2', cursive;
    color: white;
    /* color: rgb(148, 40, 40); */
    list-style: none;
    font-size: 28px;
} 
.detail{
    margin-left: 4%;
    margin-top: 11%;
    margin-bottom: 206px;
}
.detail h1{
    font-family: 'Caveat', cursive;
    font-family: 'Signika', sans-serif;
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}
.spanA{
    color: violet;
    font-size: 70px;
}
.spanB{
    color: rgb(106, 82, 211);
    font-size: 70px;
}
.detail p{
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 25px;
}
.image{
    width: 30%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.image img{
    height: 100%;
    position: absolute;
    left: 35%;
    bottom: 0;
    transform: translate(-40%);
    transition: bottom 1s, left 1s;
}
.image:hover .shape{
    bottom: 30px;
    
}
.image:hover .panda{
    left: 30px;

}
.index{
    height: 100%;
    width: 100%;
    margin: 2rem 0 0 0;
    background: #2F303A;

}

.resultpage{
    margin-top:0%
}
.index h1{
    font-family: 'Baloo Bhaijaan 2', cursive;
    color: white;
}
.detail::before{
    content: "";
    background: #2F303A;
    /* background: url('/cheers.jpg'); */
    position: absolute;
    top: -1px;
    left: -70px;
    height: 675px;
    width: 105%;
    z-index: -1;  
}
.border {
	font-size: 1.6rem;
	display: grid;
	place-items: center;
	min-height: 200px;
	border: 8px solid;
	padding: 1rem;
}
.full-withradius {
	position: relative;
	background: #fff;

	/*The background extends to the outside edge of the padding. No background is drawn beneath the border.*/
	background-clip: padding-box;

	border: solid 8px transparent;
	border-radius: 0.8rem;
}
.btn{
    margin: 15px 7px;
    background-color: black;
    color: white;
    padding: 7px 22px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}
.btn a{
    text-decoration: none;
    color: white;
}
.btn:hover {
   
    background-color: black;
    padding: 10px 30px;
    box-shadow: 0 0 10px cyan;
}
/* ----------------------------------------------------------------------------------------------- */

#body1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    margin-top: -256px;
    background: #2F303A;
}
#body1::before{
    content: " ";
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right 70%);
}
#body1::after{
    content: " ";
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(20% at 10% 40%); /*upper wale bubble ke liye*/
}
.center{
    font-family: 'Baloo Bhaijaan 2', cursive;
}
.container{
    position: relative;
    display: flex;  /* ye dono se side hue content */
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}
.container .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 50px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1); /*ye box me color ke liye*/
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px); /*box ke back ka blur karne ke liye*/
}

/*box ke inside jo likha hai uske liye ye*/
.container .card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px); /*for animation*/
    opacity: 0;
    transition: 0.5s;
}

/*for animation*/
.container .card:hover .content{
    transform: translateY(0px); 
    opacity: 1;
}

.container .card .content h2{
    position: absolute;
    top: -90px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}
.container .card .content h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
    line-height: 40px;
}
.container .card .content p{
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    line-height: 20px;
}
.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}
.container .card .content a:hover{
    border: 2px solid rgb(27, 24, 24);
    background: rgba(0.0, 0.478, 1.0, 0.18);
}
.middle{
    position: relative;
    top: -53px;

}
.middle h1{
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
    color: white;
}

   
/* ----------------------------------------------------------------------------------------------- */

/* FOOTER */
footer {
    /* width: 20px; */
    height: 136px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: -43px;
    /* margin: 50px; */
}
.social-media a{
    /* filter: invert(100%); */
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-right: 40px;
}

.span1:hover
{
    color: #3b5998;
    padding: 20px;
}
.span2:hover
{
    color: #00acee;
    padding: 20px;
}
.span3:hover
{
    color: rgb(238, 23, 202);
    padding: 20px;
}
.span4:hover
{
    color: rgb(238, 23, 23);
    padding: 20px;
}
.footer-conatiner{
    max-width: 1455px;
    margin: auto;
    padding: 0 20px;
    align-items: center;
    flex-wrap: wrap-reverse;
}
.footer-conatiner, .center h1{
    /* padding: 12px; */
    margin: 0px;
}


/* Responsive Design for EmoTune */
/* This should be included after main.css */

/* Mobile First Approach */
@media screen and (max-width: 1200px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
    
    .image {
        right: 50px;
    }
}

@media screen and (max-width: 992px) {
    /* Navigation */
    #navbar {
        flex-direction: column;
        padding: 10px 0;
    }
    
    #logo {
        padding-left: 20px;
        margin: 0 auto;
        text-align: center;
    }
    
    .p {
        justify-content: center;
        margin: 10px 0;
    }
    
    .user-dropdown, .nav-login {
        position: static;
        text-align: center;
        margin: 10px 0;
    }
    
    .user-name {
        margin-left: 0 !important;
        justify-content: center;
    }
    
    /* Hero Section */
    .detail {
        margin-left: 5%;
        margin-top: 8%;
        text-align: center;
    }
    
    .detail::before {
        left: 0;
        width: 100%;
    }
    
    .image {
        /* position: relative;
        width: 100%;
        height: auto;
        right: 0;
        margin-top: 30px; */
        display: none;
        /* justify-content: center; */
    }
    
    .image img {
        /* position: relative;
        left: 0;
        transform: none;
        height: 300px; */
        display: none;
    }
    
    /* .image:hover .panda {
        left: 0;
    } */
    
    /* Cards Section */
    .container .card {
        width: 220px;
        height: 350px;
        margin: 30px;
    }
    .container{
        margin-top: 70px;
    }
    
    .middle h1 {
        font-size: 42px;
    }
    
    /* Mood Mix Section */
    .track-card {
        flex: 0 0 calc(50% - 1rem) !important;
    }
    
    .video-card {
        flex: 0 0 250px !important;
    }
}

@media screen and (max-width: 768px) {
    /* Typography */
    .detail h1 {
        font-size: 36px;
    }
    
    .spanA, .spanB {
        font-size: 50px;
    }
    
    .detail p {
        font-size: 18px;
    }
    
    /* Cards */
    .container {
        flex-direction: column;
        align-items: center;
        margin-top: 55px;
        margin-bottom: 20px;
    }
    
    .container .card {
        width: 280px;
        /* margin: 20px 0; */
        margin-top: 80px;
    }
    
    /* Buttons */
    .btn {
        margin: 10px 5px;
        padding: 8px 16px;
        font-size: 16px;
    }
    
    /* Footer */
    .footer-conatiner {
        padding: 0 10px;
    }
    
    .social-media a {
        margin-right: 20px;
        font-size: 20px;
    }
    
    /* Results Pages */
    .controls-container {
        flex-direction: column;
        gap: 15px;
    }
    
    .search-box {
        width: 100%;
        max-width: 100%;
    }
    
    .sort-options, .sub-options {
        justify-content: center;
    }
    
    #box_div, #videoContainer {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    
    /* Video player adjustments */
    .video-player-container iframe {
        height: 200px;
    }
}

@media screen and (max-width: 576px) {
    /* Hero Section */
    .detail {
        margin-left: 2%;
        margin-top: 5%;
    }
    
    .detail h1 {
        font-size: 28px;
    }
    
    .spanA, .spanB {
        font-size: 40px;
    }
    
    .image img {
        /* height: 250px; */
        display: none;
    }
    
    /* Cards */
    .container .card {
        width: 250px;
        height: 320px;
        margin-top: 75px;
    }
    
    .container .card .content h2 {
        font-size: 6em;
        top: -70px;
    }
    
    .middle h1 {
        font-size: 32px;
        /* margin-bottom: 40px; */
        padding-bottom: 20px;
        margin-top: -40px;
    }
    
    /* Footer */
    .center h1 {
        font-size: 20px;
    }
    
    .social-media a {
        margin-right: 15px;
        font-size: 18px;
    }
    
    /* Results Pages */
    #box_div, #videoContainer {
        grid-template-columns: 1fr;
        padding: 0.5rem;
    }
    
    .track-card, .video-card {
        flex: 0 0 100% !important;
    }
    
    .sub-options {
        flex-direction: column;
        align-items: center;
    }
    
    .option-btn {
        width: 100%;
        text-align: center;
    }
    
    /* Modal */
    .modal-content {
        width: 90%;
        margin: 10% auto;
        padding: 20px;
    }
}

/* Special adjustments for very small devices */
@media screen and (max-width: 400px) {
    .detail h1 {
        font-size: 24px;
    }
    
    .spanA, .spanB {
        font-size: 32px;
    }
    
    .detail p {
        font-size: 16px;
    }
    
    .btn {
        padding: 6px 12px;
        font-size: 14px;
    }
    
    .container .card {
        width: 220px;
        height: 300px;
    }
    
    .container .card .content {
        padding: 15px;
    }
    
    .container .card .content h3 {
        font-size: 1.5em;
    }
}

/* Fix for mobile navigation dropdown */
@media screen and (max-width: 992px) {
    .dropdown-content {
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

/* Prevent horizontal scrolling */
html, body {
    overflow-x: hidden;
    width: 100%;
}

/* Touch-friendly elements for mobile */
@media (hover: none) and (pointer: coarse) {
    .slider-nav {
        opacity: 1 !important;
        width: 50px;
        height: 50px;
        font-size: 24px;
    }
    
    .btn, .sort-btn, .option-btn {
        min-height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    /* Increase tap targets */
    .social-media a {
        padding: 10px;
    }
}